<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>

    <h1>PrintingDictionary  By Passing Third Argument Of Render</h1>
    <h2>Dict 1st Value : {{name}} </h2>
    <h2>Dict 2nd Value : {{age}} </h2>

    <h1>Welcome To The Homepage Of Text Analyzer. Please Enter Your Text Below</h1>
    <form action='/analyze' method='get'>
        <textarea name='text' style='margin: 0px; height: 125px; width: 1040px;'></textarea></br>
        <input type='checkbox' name='removepunc'>Remove Punctuation</br>
        <input type='checkbox' name='fullcase'>UPPERCASE</br>
        <input type='checkbox' name='newlineremover'>New Line Removed</br>
        <input type='checkbox' name='spaceremover'>Space Removed</br>
        <input type='checkbox' name='charcounter'>Char Counter</br>
        <button type='submit'>Analyze Text</button>
    </form>
</body>
</html>